@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CivilSoft,
    Summer inturnship program 2019
</address>

<address>
    <strong>Developed by:</strong> <a href="mailto:aly.m.barakat@gmail.com">aly.m.barakat@gmail.com</a>
</address>