@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Knowledge Garden</h1>
    <p class="lead">Exchange your problems and their soluions with your collegues.</p>
    <p><a href="http://localhost:36859/Account/Register" class="btn btn-primary btn-lg">Register now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Persons</h2>
        <p>
            Add, Edit and View problems.
        </p>
        <p><a class="btn btn-default" href="http://localhost:36859/ProblemsData/Index">Persons &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Creat new account.</p>
        <p><a class="btn btn-default" href="http://localhost:36859/Account/Register">Register now &raquo;</a></p>
    </div>
</div>>